.chat_main
  .chat_main__group_info
    .chat_main__group_info__header_left
      = @group.name
      .chat_main__group_info__header_left__name
        - @group.users.each do |user|
          = user.name
    .chat_main__group_info__header_right
      .chat_main__group_info__header_right__btn
        = link_to edit_group_path(@group), class: "btn", style: "color:#0066cc" do
          Edit
  .chat_main__message_list
    = render @messages

  .chat_main__message_form
    .chat_main__message_form__new_message
      = form_for [@group, @message] do |f|
        .chat_main__message_form__new_message__form
          = f.text_field :text, class: 'chat_main__message_form__new_message__form__input', placeholder: 'type a message'
        .chat_main__message_form__new_message__icon
          .chat_main__message_form__new_message__icon__image
            = f.label :image do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'file_select'
        = f.submit 'Send', class: 'btn_2'