.chat_main
  .chat_main__group_info
    .chat_main__group_info__header_left
      夢がMORI MORI
      .chat_main__group_info__header_left__name
        Member:森脇健児&森口博子
    .chat_main__group_info__header_right
      .chat_main__group_info__header_right__btn
        = link_to "#", class: "btn", style: "color:aqua" do
          Edit
  .chat_main__message_list
    .chat_main__message_list__name_1
      .chat_main__message_list__name_1__name
        森脇健児&森口博子
      .chat_main__message_list__name_1__date
        1500/12/11(Wed) 20:06:01
    .chat_main__message_list__message_1
      光る風の中 ほほえんでる あなたがいる
    .chat_main__message_list__name_2
      .chat_main__message_list__name_2__name
        森脇健児&森口博子
      .chat_main__message_list__name_2__date
        2019/12/11(Wed) 20:06:01
    .chat_main__message_list__message_2
      SMAPはワシが育てた

  .chat_main__message_form
    .chat_main__message_form__new_message
      = form_for [@group, @message] do |f|
        .chat_main__message_form__new_message__form
          = f.text_field :text, class: 'chat_main__message_form__new_message__form__input', placeholder: 'type a message'
        .chat_main__message_form__new_message__icon
          .chat_main__message_form__new_message__icon__image
            = f.label :image do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'file_select'
        = f.submit 'Send', class: 'btn_2'
